
<div class="container">
  <div class="title">
    <mat-card-header>Thông tin học viên</mat-card-header>
    <!-- <mat-card-header>{{respon}}</mat-card-header> -->
  </div>
  <form class="form" *ngFor="let recruit of recruit"  >
    <div class="row">
      <div class="col-2 ">
        <mat-form-field >
          <mat-label>Mã học viên</mat-label>
          <!-- <mat-label>{{id_recruit}}</mat-label> -->
          <input type="text" matInput #id_recruit  [value]="recruit.id_recruit">
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <mat-label>Tên học viên</mat-label>
          <input type="text" matInput #department [value]="recruit.department" >
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label>Số điện thoại</mat-label>
          <input type="text" matInput #position [value]="recruit.position" >
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="number" matInput #amount [value]="recruit.amount" >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-6">
        <mat-form-field >
          <mat-label>thời gian</mat-label>
          <input matInput [matDatepicker]="picker" #timePicker [value]="recruit.time">
          <input style="display: none;" type="text" #time value="{{timePicker.value|date:'yyyy-MM-dd'}}">
          <span style="display: none;" #time >{{timePicker.value | date:'yyyy-MM-dd'}}</span>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div> -->
      <div class="col-6">
        <mat-form-field>
          <mat-label>Khóa học tham gia</mat-label>
          <input matInput #location [value]="recruit.location" >
        </mat-form-field>
      </div>
    </div>


    <div class="row" style="display: none;">
      <div class="col">
        <mat-label>Yêu cầu</mat-label>
        <mat-form-field>
          <textarea id="requireTextArea" matInput rows="5" #require [value]="recruit.require">
          </textarea>
        </mat-form-field>
      </div>
    </div>



    <div class="row">
      <div class="ml-auto mt-3 mr-auto mb-3">
        <button type="submit" class="btn btn-danger" (click)="onSubmit(recruit.ID, id_recruit.value, department.value, position.value, amount.value, location.value)">Cập nhật</button>
      </div>
    </div>
  </form>
</div>


