
<div class="container">
  <div class="title">
    <mat-card-header>Học viên đăng kí</mat-card-header>
    <!-- <mat-card-header>{{respon}}</mat-card-header> -->
  </div>
  <form class="form" >
    <div class="row">
      <div class="col-6 ">
        <mat-form-field>
          <mat-label>Tên khóa học</mat-label>
          <!-- <mat-label>{{id_recruit}}</mat-label> -->
          <input type="text" matInput #id_recruit >
        </mat-form-field>
      </div>
      <div class="col-6 ">
        <mat-form-field>
          <mat-label>Mã khóa học</mat-label>
          <!-- <mat-label>{{id_recruit}}</mat-label> -->
          <input type="text" matInput #id_recruit >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Mã học viên</mat-label>
          <input type="text" matInput #department >
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Tên học viên</mat-label>
          <input type="text" matInput #position >
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <!-- <div class="col-6">
        <mat-form-field >
          <mat-label>Email</mat-label>
          <input matInput [matDatepicker]="picker" #timePicker>
          <input style="display: none;" type="text" #time value="{{timePicker.value|date:'yyyy-MM-dd'}}">

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div> -->
      <div class="col-6">
        <mat-form-field>
          <mat-label>Số Điện Thoại</mat-label>
          <input type="number" matInput #amount >
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput #location>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Mã khóa học</mat-label>
          <input type="number" matInput #amount >
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Tên khóa học</mat-label>
          <input matInput #location>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="ml-auto mr-auto mb-3 mt-3">
        <button type="submit" class="btn btn-danger" (click)="onSubmit(id_recruit.value, department.value, position.value, amount.value)" [routerLink]="['/view-recruit']" routerLinkActive="router-link-active" >Thêm</button>
      </div>
    </div>
  </form>
</div>
