<div class="container">
  <div class="title mb-2">
    <mat-card-header>Bảng chấm công</mat-card-header>
    <!-- <button mat-menu-item (click)="openDialogComplain()" >
      <mat-icon>note_add</mat-icon>
    </button> -->
  </div>
  <div class="float-right">
    <a
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      (click)="export()"
      ><i class="fas fa-download fa-sm text-white-50"></i> Xuất bảng chấm
      công</a
    >
    <a
      class="ml-4 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      (click)="openDialogUpload()"
      ><i class="fas fa-upload fa-sm text-white-50"></i> Nhập bảng chấm công</a
    >
  </div>
  <!-- <mat-form-field appearance="standard">
    <mat-label>Tìm kiếm</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field> -->
  <form
    class="
      d-none d-sm-inline-block
      form-inline
      mr-auto
      ml-md-3
      my-2 my-md-0
      mw-100
      navbar-search
    "
  >
    <div class="input-group mb-2">
      <input
        type="text"
        class="form-control bg-light border-0 small"
        placeholder="Tìm kiếm..."
        aria-label="Search"
        aria-describedby="basic-addon2"
        matInput
        (keyup)="applyFilter($event)"
        #input
      />
      <div class="input-group-append">
        <button
          class="btn btn-primary pt-2"
          style="background-color: #4e73df; border-color: #4e73df"
          type="button"
        >
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <div class="mat-elevation-z8">
        <ng-template matStepLabel>Bảng chấm công</ng-template>
        <table mat-table [dataSource]="dataSource">
          <!-- <ng-container matColumnDef="timeKeepingId">
        <th mat-header-cell *matHeaderCellDef> Mã bảng chấm công</th>
        <td mat-cell *matCellDef="let element"> {{element.timeKeepingId}} </td>
      </ng-container>-->

          <ng-container matColumnDef="id_staff">
            <th mat-header-cell *matHeaderCellDef>Mã Nhân viên</th>
            <td mat-cell *matCellDef="let element">{{ element.id_staff }}</td>
          </ng-container>

          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>Họ tên</th>
            <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
          </ng-container>

          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef>Bộ phận</th>
            <td mat-cell *matCellDef="let element">{{ element.department }}</td>
          </ng-container>

          <ng-container matColumnDef="leave">
            <th mat-header-cell *matHeaderCellDef>phép</th>
            <td mat-cell *matCellDef="let element">{{ element.leaveDay }}</td>
          </ng-container>

          <ng-container matColumnDef="absent">
            <th mat-header-cell *matHeaderCellDef>vắng</th>
            <td mat-cell *matCellDef="let element">{{ element.absent }}</td>
          </ng-container>

          <ng-container matColumnDef="holiday">
            <th mat-header-cell *matHeaderCellDef>nghỉ lễ</th>
            <td mat-cell *matCellDef="let element">{{ element.holiday }}</td>
          </ng-container>

          <ng-container matColumnDef="mission">
            <th mat-header-cell *matHeaderCellDef>công tác</th>
            <td mat-cell *matCellDef="let element">{{ element.mission }}</td>
          </ng-container>

          <ng-container matColumnDef="workDay">
            <th mat-header-cell *matHeaderCellDef>làm</th>
            <td mat-cell *matCellDef="let element">{{ element.workDay }}</td>
          </ng-container>

          <ng-container matColumnDef="overtime">
            <th mat-header-cell *matHeaderCellDef>tăng ca (h)</th>
            <td mat-cell *matCellDef="let element">{{ element.overtime }}</td>
          </ng-container>

          <ng-container matColumnDef="early">
            <th mat-header-cell *matHeaderCellDef>về sớm (h)</th>
            <td mat-cell *matCellDef="let element">{{ element.early }}</td>
          </ng-container>

          <ng-container matColumnDef="late">
            <th mat-header-cell *matHeaderCellDef>đi trễ (h)</th>
            <td mat-cell *matCellDef="let element">{{ element.late }}</td>
          </ng-container>

          <!-- <ng-container matColumnDef="kpi">
        <th mat-header-cell *matHeaderCellDef> KPI </th>
        <td mat-cell *matCellDef="let element" > {{element.kpi}} </td>
      </ng-container>

      <ng-container matColumnDef="sales">
        <th mat-header-cell *matHeaderCellDef> Doanh số </th>
        <td mat-cell *matCellDef="let element"> {{element.sales}} </td>
      </ng-container> -->

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>hành động</th>
            <td mat-cell *matCellDef="let element; let index = index">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
                [disabled]="role == 1"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <!-- <button mat-menu-item mat-raised-button >
              <mat-icon>open_in_new</mat-icon>
              <span>chi tiết</span>
            </button>
            <button mat-menu-item [disabled]="element.status == 'từ chối' ? true : false">
              <mat-icon>done</mat-icon>
              <span>duyệt</span>
            </button>
            <button mat-menu-item  [disabled]="element.status == 'duyệt' ? true : false">
              <mat-icon>clear</mat-icon>
              <span>từ chối</span>
            </button> -->
                <button
                  mat-menu-item
                  (click)="openDialogMission(element.ID, index)"
                >
                  <mat-icon>work</mat-icon>
                  <span>Quyết định công tác</span>
                </button>
                <button
                  mat-menu-item
                  (click)="openDialogAbsent(element.ID, index)"
                >
                  <mat-icon>assignment</mat-icon>
                  <span>đơn xin nghỉ phép</span>
                </button>
                <!-- <button mat-menu-item (click)="openDialogComplain()" >
              <mat-icon>assignment_late</mat-icon>
              <span>Khiếu nại chấm công</span>
            </button> -->
                <!-- <button mat-menu-item >
              <mat-icon>assignment_late</mat-icon>
              <span>Hủy hợp đồng</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>library_books</mat-icon>
              <span>Quản lý bằng cấp chứng chỉ</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>assessment</mat-icon>
              <span>Lập quyết định khen thưởng</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>next_week</mat-icon>
              <span>Lập quyết định bổ nhiệm</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>new_releases</mat-icon>
              <span>Lập quyết định kỉ luật</span>
            </button> -->
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
          <tr
            mat-row
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              không tìm thấy "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          #MatPaginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-step>
    <!-- timeKeeping according to sale -->
    <mat-step>
      <div class="mat-elevation-z8">
        <ng-template matStepLabel>Bảng chấm công theo doanh số</ng-template>
        <table mat-table [dataSource]="dataSourceSale">
          <!-- <ng-container matColumnDef="timeKeepingId">
        <th mat-header-cell *matHeaderCellDef> Mã bảng chấm công</th>
        <td mat-cell *matCellDef="let element"> {{element.timeKeepingId}} </td>
      </ng-container>

      <ng-container matColumnDef="staffId">
        <th mat-header-cell *matHeaderCellDef> Mã Nhân viên </th>
        <td mat-cell *matCellDef="let element"> {{element.staffId}} </td>
      </ng-container> -->
          <ng-container matColumnDef="id_staff">
            <th mat-header-cell *matHeaderCellDef>Mã Nhân viên</th>
            <td mat-cell *matCellDef="let element">{{ element.id_staff }}</td>
          </ng-container>

          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>Họ tên</th>
            <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
          </ng-container>

          <ng-container matColumnDef="setSales">
            <th mat-header-cell *matHeaderCellDef>Doanh số đề ra</th>
            <td mat-cell *matCellDef="let element">{{ element.setSales }}</td>
          </ng-container>

          <ng-container matColumnDef="achieveSales">
            <th mat-header-cell *matHeaderCellDef>Doanh số đạt được</th>
            <td mat-cell *matCellDef="let element">
              {{ element.achieveSales }}
            </td>
          </ng-container>

          <ng-container matColumnDef="missingSales">
            <th mat-header-cell *matHeaderCellDef>Doanh số thiếu</th>
            <td mat-cell *matCellDef="let element">
              {{ element.missingSales }}
            </td>
          </ng-container>

          <ng-container matColumnDef="exceedSales">
            <th mat-header-cell *matHeaderCellDef>Vượt doanh số</th>
            <td mat-cell *matCellDef="let element">
              {{ element.exceedSales }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>hành động</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <!-- <button mat-menu-item mat-raised-button >
              <mat-icon>open_in_new</mat-icon>
              <span>chi tiết</span>
            </button>
            <button mat-menu-item [disabled]="element.status == 'từ chối' ? true : false">
              <mat-icon>done</mat-icon>
              <span>duyệt</span>
            </button>
            <button mat-menu-item  [disabled]="element.status == 'duyệt' ? true : false">
              <mat-icon>clear</mat-icon>
              <span>từ chối</span>
            </button> -->
                <button mat-menu-item>
                  <mat-icon>work</mat-icon>
                  <span>Quyết định công tác</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>assignment</mat-icon>
                  <span>đơn xin nghỉ phép</span>
                </button>
                <!-- <button mat-menu-item (click)="openDialogComplain()" >
              <mat-icon>assignment_late</mat-icon>
              <span>Khiếu nại chấm công</span>
            </button> -->
                <!-- <button mat-menu-item >
              <mat-icon>assignment_late</mat-icon>
              <span>Hủy hợp đồng</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>library_books</mat-icon>
              <span>Quản lý bằng cấp chứng chỉ</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>assessment</mat-icon>
              <span>Lập quyết định khen thưởng</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>next_week</mat-icon>
              <span>Lập quyết định bổ nhiệm</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>new_releases</mat-icon>
              <span>Lập quyết định kỉ luật</span>
            </button> -->
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsSales"></tr>
          <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
          <tr
            mat-row
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumnsSales"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              không tìm thấy "{{ input.value }}"
            </td>
          </tr>
        </table>
        <mat-paginator
          #MatPaginatorSales
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-step>

    <mat-step>
      <div class="mat-elevation-z8">
        <ng-template matStepLabel>Bảng chấm công theo KPI</ng-template>
        <table mat-table [dataSource]="dataSourceKPI">
          <!-- <ng-container matColumnDef="timeKeepingId">
        <th mat-header-cell *matHeaderCellDef> Mã bảng chấm công</th>
        <td mat-cell *matCellDef="let element"> {{element.timeKeepingId}} </td>
      </ng-container>

      <ng-container matColumnDef="staffId">
        <th mat-header-cell *matHeaderCellDef> Mã Nhân viên </th>
        <td mat-cell *matCellDef="let element"> {{element.staffId}} </td>
      </ng-container> -->

          <ng-container matColumnDef="id_staff">
            <th mat-header-cell *matHeaderCellDef>Mã Nhân viên</th>
            <td mat-cell *matCellDef="let element">{{ element.id_staff }}</td>
          </ng-container>

          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>Họ tên</th>
            <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
          </ng-container>

          <ng-container matColumnDef="setKPI">
            <th mat-header-cell *matHeaderCellDef>KPI đề ra</th>
            <td mat-cell *matCellDef="let element">{{ element.setKPI }}</td>
          </ng-container>

          <ng-container matColumnDef="achieveKPI">
            <th mat-header-cell *matHeaderCellDef>KPI đạt được</th>
            <td mat-cell *matCellDef="let element">{{ element.achieveKPI }}</td>
          </ng-container>

          <ng-container matColumnDef="classification">
            <th mat-header-cell *matHeaderCellDef>xếp loại</th>
            <td mat-cell *matCellDef="let element">
              {{ element.classification }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>hành động</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <!-- <button mat-menu-item mat-raised-button >
              <mat-icon>open_in_new</mat-icon>
              <span>chi tiết</span>
            </button>
            <button mat-menu-item [disabled]="element.status == 'từ chối' ? true : false">
              <mat-icon>done</mat-icon>
              <span>duyệt</span>
            </button>
            <button mat-menu-item  [disabled]="element.status == 'duyệt' ? true : false">
              <mat-icon>clear</mat-icon>
              <span>từ chối</span>
            </button> -->
                <button mat-menu-item>
                  <mat-icon>work</mat-icon>
                  <span>Quyết định công tác</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>assignment</mat-icon>
                  <span>đơn xin nghỉ phép</span>
                </button>
                <!-- <button mat-menu-item (click)="openDialogComplain()" >
              <mat-icon>assignment_late</mat-icon>
              <span>Khiếu nại chấm công</span>
            </button> -->
                <!-- <button mat-menu-item >
              <mat-icon>assignment_late</mat-icon>
              <span>Hủy hợp đồng</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>library_books</mat-icon>
              <span>Quản lý bằng cấp chứng chỉ</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>assessment</mat-icon>
              <span>Lập quyết định khen thưởng</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>next_week</mat-icon>
              <span>Lập quyết định bổ nhiệm</span>
            </button>
            <button mat-menu-item mat-raised-button >
              <mat-icon>new_releases</mat-icon>
              <span>Lập quyết định kỉ luật</span>
            </button> -->
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsKPI"></tr>
          <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
          <tr
            mat-row
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumnsKPI"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              không tìm thấy "{{ input.value }}"
            </td>
          </tr>
        </table>
        <mat-paginator
          #MatPaginatorKPI
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<ul>
  <li *ngFor="let clickedRow of clickedRows">
    <!-- Clicked on {{clickedRow.timeKeepingId}} -->
  </li>
</ul>
