.text-primary {
  color: #86c7f3!important;
}
.text-success {
  color: #ffe29a!important;
}
.text-info {
  color: #ffa1b5!important;
}

.text-primary_2 {
  color: #7fff7f!important;
}
.text-success_2 {
  color: #ff8a8a!important;
}
.text-info_2 {
  color: #f2f0f0!important;
}
