<div class="container">
  <div class="title mb-3">
    <mat-card-header>Thông tin học viên</mat-card-header>
    <!-- <mat-card-header>{{respon}}</mat-card-header> -->
  </div>
  <form class="form">
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Mã học viên</mat-label>
          <input type="text" matInput #id_stu [value]="data.id_stu" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Tên học viên</mat-label>
          <input type="text" matInput #name_stu [value]="data.name_stu" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Số điện thoại</mat-label>
          <input matInput #phoneNumber [value]="data.phone" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput #email [value]="data.email" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="ml-auto mr-auto mb-3">
        <button
          type="submit"
          class="btnForm btn btn-primary mt-2"
          matDialogClose
          (click)="
            onSubmit(
              data.ID,
              id_stu.value,
              name_stu.value,
              email.value,
              phoneNumber.value
            )
          "
        >
          Cập nhật
        </button>
      </div>
    </div>
  </form>
</div>
