.title {
  font-size: 20px;
}
table {
  width: 100%;
}
button {
  border: none;
  background-color: transparent;
}
.btnForm {
  background-color: #4e73df;
}
.mat-form-field {
  width: 100%;
}
.demo-style {
  background-color: red;
}

.demo-row-is-clicked {
  display: none;
}
