<h1 mat-dialog-title>Đăng kí người phụ thuộc</h1>
<div mat-dialog-content>
  <form class="formDialog">
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Mã nhân viên</mat-label>
          <input matInput value="">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Tên nhân viên</mat-label>
          <input matInput value="">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <mat-form-field >
          <mat-label>thời gian Đăng kí</mat-label>
          <input matInput [matDatepicker]="datepicker">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-expansion-panel hideToggle onclick="setContent('relative', 'relativeEditor')">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Thông tin người phụ thuộc
            </mat-panel-title>
            <mat-panel-description>
              Điền thông tin người phụ thuộc
            </mat-panel-description>
          </mat-expansion-panel-header>
          <editor
            id="relativeEditor"
            [init]="{
              menubar: false,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
              ]
            }"
          >
        </editor>
        </mat-expansion-panel>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>thời gian thử việc</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6 mt-2">
        <mat-form-field>
          <mat-label>Bộ phận</mat-label>
          <input type="text"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-4">
        <mat-form-field >
          <mat-label>Mức lương thử việc</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>00000</span>
        </mat-form-field>
      </div>
    </div> -->
    <!-- <mat-form-field appearance="fill">
      <mat-label>Hình thức phỏng vấn</mat-label>
      <mat-select>
        <mat-option *ngFor="let form of forms" [value]="form.form">
          {{form.form}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <!-- <mat-form-field appearance="fill">
      <mat-label>Người phỏng vấn</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let interviewer of interviewers" [value]="interviewer.name">
          <mat-label>{{interviewer.position}}</mat-label>
          {{interviewer.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="row">
      <div class=" ml-auto mr-auto">
        <button type="submit" class="btnForm btn btn-primary mt-2" matDialogClose>Đăng kí</button>
      </div>
    </div>
  </form>
</div>

<div id="relative" style="display: none;">
  <table style="border-collapse: collapse; width: 100%;" border="1">
    <thead>
      <tr>
        <th>Họ tên</th>
        <th>Ngày sinh</th>
        <th>Nơi sinh</th>
        <th>Địa chỉ</th>
        <th>Dân tộc</th>
        <th>Tôn giáo</th>
        <th>mối quan hệ</th>
        <th>Trình độ học vấn</th>
        <th>Ghi chú</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
      </tr>
      <tr>

        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td class="test">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
