
  /* div{
    border: 1px solid;
  } */

  .title{
    font-size: 20px;
    padding: 3%;
    border: 1px solid;
    background-color: #4e73df;
    color: #fefcfd;
    border-radius: 10px;
    width: 100%;
  }

  .container{
    background-color: white;
    box-shadow: 10px 10px 10px #a49f9f;
  }

  mat-form-field{
    display: block;
  }

  #avatar{
    border: 1px solid;
    position: absolute;
    height: 470%;
    top: 35%;
    overflow: hidden;
   }

  .impAvatar{
    margin: 50% 25%;
  }
  #avatar:hover .impAvatar{
    position: absolute;
    top: 0;
    left: 0;
  }
  #titleAvatar{
    position: absolute;
    top: 520%;
  }
